/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
@import './variables/variables'; // Components includes

// Core variables and mixins
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Regular.woff) format('woff'),
        url(../fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Medium.woff) format('woff'),
        url(../fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Bold.woff) format('woff'),
        url(../fonts/NotoSansKR-Bold.otf) format('opentype');
 }

.btn.disabled, .btn:disabled {
  background: #999 !important;
  color: #555 !important;
}
.blind {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.noti {
   position: relative;
   padding-left: 18px;
   color:$danger;
   &::before {
      content: '※';
      position: absolute;
      top:1px;
      left:0;
   }
}

.guide-ing {
   display: block;
   color:$danger;
   padding-bottom:5px;
}

%mb0 {margin-bottom: 0 !important;}
%mt0 {margin-top: 0 !important;}
%mb1 {margin-bottom: 1rem;}
%mb2 {margin-bottom: 1rem;}
%mt1 {margin-top: 1rem;}
%mt2 {margin-top: 1rem;}
%mt05 {margin-top: .5rem;}
%mt10 {margin-top: 1rem;}
%mt20 {margin-top: 2rem;}
%box {border: 1px solid #e7e7e7;padding: .5rem 1rem;margin-bottom:1rem;}
%fontEn {font-family: Arial, Helvetica, sans-serif;
}
%layout-width {max-width: 1400px;margin:0 auto;}
/* common */
[class*="-box"] {
    &.top {
      @extend %mb1;
    }
    &.bottom {
      @extend %mt1;
    }
    &.middle {
      @extend %mt1;
      @extend %mb1;
    }
    &.right {
      padding-left:0;
      text-align:right
    }
    &.center {
      padding-left:0;
      text-align:center
    }
    &.text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    .text-right {
      .form-control,
      .custom-select {text-align: right}
    }
    &.text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    .text-left {
      .form-control,
      .custom-select {text-align: left}
    }
    &.text-center {
      .form-control,
      .custom-select {text-align: center}
    }
    .text-center {
      .form-control,
      .custom-select {text-align: center}
    }
  }
.layout-width {
  width: 100%;
  max-width:1400px;
  margin: 0 auto;
}
.content-wrapper {
  height:100%;
}
.content-body {
  flex-direction: column;
}
.card-x {background-color: #fff;}
.btn-outline-primary {
  background-color: #fff;
}
/* common end =============== */
.text-gowork {
  color:$gowork;
}
.text-leavework{
  color:$leavework; 
}
.text-belate{
  color:$belate;
}
.text-absent {
  color:$absent;
}
.text-early {
  color:$early;
}
.text-dayoff {
  color:$dayoff;
}
.text-outside{
  color:$outside;
}
.text-return {
  color:$return;
}

.bg-gowork {
  background-color: $gowork;
}
.bg-leavework {
  background-color: $leavework;
}
.bg-belate {
  background-color: $belate;
}
.bg-absent {
  background-color: $absent; 
}
.bg-early {
  background-color:$early;
  color:$early-text;
}
.bg-dayoff {
 background-color: $dayoff;
}
.bg-outside {
  background-color: $outside; 
}
.bg-return {
 background-color: $return;
}
.badge-light-gowork {
  background-color: rgba($gowork, 0.12);
  color: $gowork;
}
.badge-light-leavework {
  background-color: rgba($leavework, 0.12);
  color: $leavework;
}
.badge-light-belate {
  background-color: rgba($belate, 0.12);
  color: $belate;
}
.badge-light-absent {
  background-color:rgba($absent, 0.12);
  color: $absent;
}
.badge-light-early {
  background-color:rgba($early, 0.2);
  color:$early-light-text;
}
.badge-light-dayoff {
  background-color: rgba($dayoff, 0.12);
  color: $blue;
}
.badge-light-outside {
  background-color: rgba($outside, 0.12);
  color: $outside;
}
.badge-light-return {
  background-color: rgba($return, 0.12);
  color: $return;
}


.avatar{
  img {
    width:33px;
    height:33px;
  }
}
.btn-more {
  color:#777;
  font-size: 12px;
  &::after {
    display: inline-block;
    content: '\f061';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 6px;
    vertical-align: middle;
  }
}
.card.section {
  margin-bottom:1rem;
  h2 {
    font-size: 16px;
    padding:0;
  }
  > .card-header {
      padding:2rem 1rem 2rem;
      flex-direction: row;
    &.line {
      border-bottom: 2px solid #000;
      margin:0 1rem 1rem 1rem;
      padding:2rem 0 1rem;
    }
  }
}

.header-navbar {
    &.floating-nav {
        margin:0;
        width:100% !important;
        border-radius: 0;
        min-height:60px;
    }
}
.navbar-dark {
    background-color:$primary;
    box-shadow: none !important;
}

.footer {
  height: 2rem;
  text-align: center;
  background: #eee;
  font-size: 11px;
  line-height: 2rem;
  color: #aaa;
}
.main-menu {
  .navbar-header {
    background-color: $primary;
    height:105px;
    color:$white;
    vertical-align: middle;
    .btn {
      color:$white;
      background-color: $white-12;
      border:1px solid #47389A;
      padding:4px 8px;
      margin-left: 8px;
    }
    .login-info {
      span {
        display: inline-block;
      }
      .avatar{ 
        width:24px;
        height:24px;
        background-color: transparent;
        border:1px solid $white;
        margin-right:2px;
       .feather {
         width:16px;
         height:16px;
       } 
      }
    }
    .nav-toggle {
      .nav-link {
        margin: 16px 0;
        .feather {
          width:26px;
         height:26px;
        }
      }
    }
  }
  .navigation li a svg {
    margin-right:0.5rem;
  }
}


/* timeline */
.timeline {
   .timeline-item {
    padding-left: 1.2rem;
  }
  .timeline-item:not(:last-child) {
    padding-bottom : 5px;
  }
}

/* avatar + text */
.status-member {
  .media-body {
    padding-left:10px;
    .name {
      margin-bottom:0;
      line-height: 1;
      color:#111;
      font-weight: 500;
    }
    .dep {
      margin-bottom:0;
      font-size: 11px;
      font-weight: normal;
      color:#999;
    }
  }
}


/* 타임라인 */
.realstatus-box {
  .card-body {
    height:350px;
    overflow-y: auto;
    margin-bottom: 1.5rem;
  }
  .gowork {
    background-color: $gowork;
    &::before {
      background-color:rgba($gowork, 0.12) !important;
    }
  }
  .leavework {
    background-color: $leavework !important;
    &::before {
      background-color: rgba($leavework, 0.12) !important;
    }
  }
  .belate {
    background-color: $belate !important;
    &::before {
      background-color: rgba($belate, 0.12) !important;
    }
  }
  .absent {
    background-color: $absent !important;
    &::before {
      background-color: rgba($absent, 0.12) !important;
    }
  }
  .early {
    background-color: $early !important;
     &::before {
      background-color: rgba($early, 0.12) !important;
    }
  }
  .dayoff {
    background-color: $dayoff !important;
     &::before {
      background-color: rgba($dayoff, 0.12) !important;
    }
  }
  .outside {
    background-color: $outside !important;
    &::before {
      background-color: rgba($outside, 0.12) !important;
    }
  }
  .return {
    background-color: $return !important;
    &::before {
      background-color: rgba($return, 0.12) !important;
    }
  }

  .status-name {
    color:#111;
    font-weight: 500;
    display: block;
  }
  .status-time {
    color:#999;
    display: block;
    font-size: 12px;
  }
}
/* chart  */
.apexcharts-legend-series {
  width:40%;
}

/* 공지사항 */
.tbl-header-box {
  width:100%;
  margin:1rem 0 0.75rem 0;
  .col, .col-auto {
    margin:0;
    padding:0;
  }
  .btn {
    padding:5px 8px;
    border:1px solid $gray-200 !important;
  }
  select {
    height:25px;
  }
}
.ul-tbl-box {
  &.list-default {
    border-top:2px solid #111;
  }
  .custom-checkbox + a {
    padding-left:30px;
  }
    ul {
      padding:0;
      li {
        position: relative;
        list-style: none;
        padding: 18px 0 18px;
        border-bottom: 1px solid #ebebeb;
        .custom-checkbox {
          position:absolute;
          left:0;
        }
        a {
          display: inline-block;
          width: 100%;
          .inner-box {
            .title {
              display: block;
              font-size: 14px;
              line-height: 18px;
              width:100%;
              padding:0;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
            }
            &.small {
              font-size: 13px;
              line-height: 16px;
              margin-top:10px;
              color:#777;
              .col {
                &.regi-date {
                  text-align: right;
                  padding-right:34px;
                }
              }
            }
            &.line {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top:0;
                width: 24px;
                height: 1px;
                background-color: #aaa;
              }
              .regi-date {
                padding-top:10px;
              }
            }
          }
        }
      }
  }
}
.app-content {
  position: relative !important;
  margin-top:0 !important;
  &.main {
    padding-top:260px !important;
  }
  &.sub {
    padding-top:120px !important;
  }
}
.brand-name {
  display: inline-block;
  font-size: 20px;
  color:$white;
  margin-bottom: 0;
  vertical-align: middle;
}
.info-box {
  background: $primary;
  position: absolute;
  width:100%;
  height:240px;
  left:0;
  top:60px;
  color:$white;
  padding:1.5rem;
  .media {
    @extend %fontEn;
    .today-date {
      font-size:32px;
      font-weight: bold;
      line-height: 1;
      padding-right:5px;
    }
   .today-en {
      font-size:11px;
      opacity: 0.8;
      padding-top:3px;
      line-height: 1.2;
    }
  }
  .today-time {
    font-size:40px;
    font-weight: bold;
  }
  .inner-1 {
    .btn {
      background:$primary-dark;
      color:$white;
    }
  }
  .inner-2 {
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid rgba(256, 256, 256, 0.2);
    text-align: center;
    strong {
      font-weight: normal;
      font-size: 12px;
      color:rgba(256, 256, 256, 0.6)
    }
    p {
      font-size: 16px;
      font-weight: 700;
      em {
        font-style: normal;
        font-size: 12px;
        font-weight: normal;
        padding-left: 2px;
        display: inline-block;
      }
    }
  }
}

.user-login {
  text-align: right;
  font-size: 12px;
  .media-body {
    padding-left:5px;
  }
}

.noti-box {
  -webkit-box-align : center !important;
  -webkit-align-items : center !important;
  -moz-box-align : center !important;
  -ms-flex-align : center !important;
  align-items : center !important;
  margin-left: auto !important;
  i {
    color:$white;
    font-size: 18px;
  }
}
.event-box {
  background: #37326D url(../images/common/bg-medal.png) no-repeat 96% 0;
  color:$white;
  padding-bottom: 1rem;
  h2 {
    color:$white;
  }
  .status-member {
    margin-top:1rem;
    .rank {
      @extend %fontEn;
      font-size:22px;
      font-weight: 700;
      margin-right:6px;
      line-height: 1;
      padding-top:6px;
      color:#999;
    }
    
    .media-body {
      .name {
        color:$white;
      }
      .dep {
        color:rgba(256, 256, 256, 0.6);
        font-weight: normal;
      }
    }
  }
  a {
    display: block;
    &:first-child {
      margin-top:0;
      .rank {
        font-size:30px;
        padding-top:3px;
        color:$warning
      }
    }
  }
  .score {
    color:$warning;
  }
}

.sub-tit {
  position: absolute;
  top:60px;
  left:0;
  background-color:$primary-dark;
  width:100%;
  h2 {
    color:$white;
    height:40px;
    line-height: 40px;
    font-size:16px;
    text-align: center;
    margin:0;
  }
}
.setting-box {
  .row {
    margin-top:1.5rem;
    &.row:first-child {
      margin-top:0;
    }
  }
  .col-5 {
    text-align: right;
  }
  .noti {
    margin-top:5px;
  }
}
/* 로그인 */
.login {
  h1 {
    text-align: center;
    img {
      width:90px;
    }
  }
  .auth-wrapper {
    display : flex;
    flex-basis : 100%;
    min-height : 100vh;
    min-height : calc(var(--vh, 1vh) * 100);
    width : 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding:40px;
  }
  .auth-inner {
    max-width: 400px;
  }

}
/* chart */
 .apexcharts-legend {
   display: none !important;
 }

/* today's Status */
.today-box {
  .today-btn {
    .col {
      padding-top:8px;
      padding-left:8px;
      padding-right: 0;
     &:first-child {
        padding-left: 0;
      }
    }
    .row {
      padding:0;
      margin:0;
      &:first-child {
        .col {
          padding-top: 0;
        }
      }
    }
    .badge {
      margin-top: 5px;
    }
    .btn {
      padding:8px 2px;
      width: 100%;
      background-color: $white;
    }
    .dropdown-menu {
      padding:15px 5px 15px 15px;
    }
    .drop-box {
      max-height:300px;
      overflow-y: auto;
    
      .avatar{
        img {
          width:26px;
          height:26px;
        }
      }
      .dropdown-item {
        padding:14px 0 0;
        &:first-child {
          padding-top:0;
        }
      }
      .status-member {
        .media-body {
          padding-left:5px;
          .name {
            font-size: 12px;
            color:$white;
          }
          .dep {
            font-size: 10px;
            line-height: 1.5;
            color:$white-700
          }
        }
      }
    }
   .today-gowork {
    border:1px solid $gray-100;
    .badge {
      background-color: $gowork;
      color:$white;
      }
      + .dropdown-menu {
        background-color: $gowork;
      }
    }
    .today-leavework {
      border:1px solid $gray-100;
      .badge {
        background-color: $leavework;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $leavework;
      }
    }
    .today-belate {
      border:1px solid $gray-100;
      .badge {
        background-color: $belate;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $belate;
      }
    }
    .today-absent {
      border:1px solid $gray-100;
      .badge {
        background-color: $absent;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $absent;
      }
    }
    .today-early {
      border:1px solid $gray-100;
      .badge {
        background-color: $early;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $early;
      }
      + .dropdown-menu .status-member {
        .media-body {
          .name {
            color:#111;
          }
          .dep {
            color:rgba(0, 0, 0, 0.5)
          }
        }
      }
    }
    .today-dayoff {
      border:1px solid $gray-100;
      .badge {
        background-color: $dayoff;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $dayoff;
      }
    }
    .today-outside {
      border:1px solid $gray-100;
      .badge {
        background-color: $outside;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $outside;
      }
    }
    .today-return {
      border:1px solid $gray-100;
      .badge {
        background-color: $return;
        color:$white;
      }
      + .dropdown-menu {
        background-color: $return;
      }
    }
  }
}
/* 근태현황 */
.select-date-box {
  text-align:center;
  margin-bottom:1rem;
  border:1px solid $primary;
  .date-current {
      font-size:24px;
      @extend %fontEn;
      margin-bottom:1rem;
      color:#111;
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      em {
        font-style: normal;
        font-size:1rem;
        display: inline-block;
        padding-left:4px;
      }
      .date-small {
        font-size: 20px;
      }
    }
  i {
      padding:6px;
      /*border:1px solid #aaa;*/
      /*border-radius: 4px;*/
  }
  i:before {
      font-size: 1rem;
      color: #777;
      width: 25px;
      /* background: black; */
      display: inline-block;
      line-height: 25px;
      border-radius: 50%;
      border: 1px solid #ccc;
      height: 25px;
  }
  .date-search {
    margin-bottom:2rem;
  }
}

.attend-box-wrap {
  .attend-box {
    .card-body {
       overflow-y: auto;
      max-height: 200px;
      padding:0 15px 0;
      margin-bottom: 15px;
      flex-wrap: wrap;
      display: inline-flex;
      > .card {
        min-width: 100px;
        border:1px solid #dedede !important;
        padding:6px 10px 4px;
        margin:0 5px 5px 0;

      }
    }
    &.gowork {
      border:1px solid rgba($gowork, 0.3) !important;
        .badge {
          background-color: $gowork;
        }
      }
    &.leavework {
      border:1px solid rgba($leavework, 0.5) !important;
      .badge {
        background-color: $leavework;
      }
    }
    &.belate {
     border:1px solid rgba($belate, 0.5) !important;
    .badge {
        background-color: $belate;
      }
    }
    &.absent {
      border:1px solid rgba($absent, 0.5) !important;
    .badge {
        background-color: $absent;
      }
    }
    &.early {
      border:1px solid rgba($early, 0.7) !important;
      .badge {
        background-color: $early;
        color:$early-text;
      }
    }
    &.dayoff {
      border:1px solid rgba($dayoff, 0.5) !important;
      .badge {
        background-color: $dayoff;
      }
    }
    &.outside {
      border:1px solid rgba($outside, 0.5) !important;
      .badge {
          background-color: $outside;
        }
    }
    &.return {
      border:1px solid rgba($return, 0.5) !important;
      .badge {
        background-color: $return;
      }
    }
  }
}
.search-data {
  background-color: $primary-light;
  border:1px solid $primary;
}
.search-box {
  input[type="text"] {
      border-color: $primary;
    }
  .search-num {
    overflow:hidden;
    margin: 1rem 0 0 0;
    .col {
      padding:0;
      text-align: center;
      border-left:1px solid $gray-100;
      .inner {
        font-size: 0.89rem;
        color:#777;
        .num {
          font-size: 1rem;
          @extend %fontEn;
          color:#111;
          padding:3px 1px;
          font-weight: bold;
        }
      }
      &:first-child {
        border-left: 0;
      }
    }
  }
}
.slect-tbl-box {
  border:1px solid $gray-300;
  td {
    font-size:11px;
    vertical-align: top;
    p {
      margin-bottom: 0;
    }
    &:first-child {
      vertical-align: middle;
    }
    .time-box {
      max-width:110px;
      .time-commute {
        strong {
          color:$dark;
        }
      }
      .time-total {
        margin-top:5px;
        strong {
          color:$dark;
        }
      }
      .time-week-total {
        color:#000;
      }
    }
    .badge-box {
      padding:0;
      margin-top:5px;
      justify-content: center;
      min-width: 110px;
       .badge {
        font-size: 100%;
        em {
          display: inline-block;
          margin-left: 2px;
        }
      }
      &.month {
        .badge {
          background: none !important;
          border:none !important;
          em {
            color:#111;
          }
        }
      }
      .col, .col-auto {
        padding:3px;
        em {
          font-style: normal;
        }
      }
    }
  }
  th, td {
    text-align: center;
    padding:0.72rem 1rem;
    white-space: nowrap;
    justify-content: center;
  }
}
/* 근무그룹관리 */
.btn-switch {
  border:1px solid $primary;
  background:#fff;
  min-width: 45px;
    &::after {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f00d';
      padding-left:5px;
    }
  &.active {
    background:$primary;
  color:#fff;
  &::before {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f00c';
      padding-right:5px;
    }
    &::after {
      display: none;
    }
  }
}
.workgroup-mgt {
  .card {
        margin-bottom:1rem;
      }
  .card-body {
      > .form-group {
      margin-top:1rem;
      border-bottom:1px solid #ccc;
      padding-bottom:0.75rem;
      > .form-label {
        margin-bottom:1rem;
      }
    }
  }
    .time-setting {
    > .row {
      margin:0.75rem 0 0 0;
      border-bottom:1px solid $primary-light;
      padding-bottom:0.75rem;
      &:last-child {
        border: 0;
      }
      &:first-child {
        margin-top:0;
      }
    }
    .col, .col-auto {
        padding:0 0.2rem;
      }
    .week {
      align-self:center;
    }
    .time-setting-box {
      .row {
        &:last-child {
          margin-top:0.5rem;
        }
      }
    }
    .btn-group-sm>.btn, .btn-sm {
      padding:0.3rem;
    }
    .dropdown-toggle::after {
      left: .15rem;
    }
    .dropdown-item {
      padding: .25rem 1.28rem;
    }
    .dropdown-menu {
          min-width: 3rem;
      max-height: 200px;
      overflow-y: auto
    }
  }
}
.btn-xs,.btn-group-xs>.btn {
    padding:0 .5rem;
    font-size:.75rem;
    line-height:1.5;
    border-radius:.25rem
}
.icon-btn {
    width: calc(2.25276rem + 2px);
    padding: 0;
    line-height: 2.25276rem;
}
.icon-btn.btn-xs, .btn-group-xs>.icon-btn.btn {
    width: calc(1.5rem + 2px);
    line-height: 1.5rem;
}