@charset "UTF-8";
/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype"); }

@font-face {
  font-family: "score-medium";
  src: local("score medium"), url(../fonts/SCDream_Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/SCDream_Medium.woff2) format("woff2"), url(../fonts/SCDream_Medium.woff) format("woff"), url(../fonts/SCDream_Medium.ttf) format("truetype"); }

/* custom */
.btn.disabled, .btn:disabled {
  background: #999 !important;
  color: #555 !important; }

.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%); }

.noti {
  position: relative;
  padding-left: 18px;
  color: #ea5455; }

.noti::before {
  content: '※';
  position: absolute;
  top: 1px;
  left: 0; }

.guide-ing {
  display: block;
  color: #ea5455;
  padding-bottom: 5px; }

.top[class*="-box"], .middle[class*="-box"] {
  margin-bottom: 1rem; }

.bottom[class*="-box"], .middle[class*="-box"] {
  margin-top: 1rem; }

.info-box .media, .event-box .status-member .rank {
  font-family: Arial, Helvetica, sans-serif; }

a {
  color: #111;
  text-decoration: none;
  background-color: transparent; }

a:hover {
  color: #7367F0;
  text-decoration: none; }

/* common */
[class*="-box"].right {
  padding-left: 0;
  text-align: right; }

[class*="-box"].center {
  padding-left: 0;
  text-align: center; }

[class*="-box"].text-right .form-control,
[class*="-box"].text-right .custom-select {
  text-align: right; }

[class*="-box"] .text-right .form-control,
[class*="-box"] .text-right .custom-select {
  text-align: right; }

[class*="-box"].text-left .form-control,
[class*="-box"].text-left .custom-select {
  text-align: left; }

[class*="-box"] .text-left .form-control,
[class*="-box"] .text-left .custom-select {
  text-align: left; }

[class*="-box"].text-center .form-control,
[class*="-box"].text-center .custom-select {
  text-align: center; }

[class*="-box"] .text-center .form-control,
[class*="-box"] .text-center .custom-select {
  text-align: center; }

.layout-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.content-wrapper {
  height: 100%; }

.content-body {
  flex-direction: column; }

/* common end =============== */
.card.section {
  margin-bottom: 1.5rem; }

.card.section h2 {
  font-size: 14px;
  padding: 0.3rem 0; }

.header-navbar.floating-nav {
  margin: 0;
  width: 100% !important;
  border-radius: 0;
  min-height: 60px; }

.navbar-dark {
  background-color: #7367F0;
  box-shadow: none !important; }

.footer {
  padding: 0 !important;
  min-height: 0.5rem !important; }

.main-menu .navbar-header {
  background-color: #7367F0;
  height: 105px;
  color: #fff;
  vertical-align: middle; }

.main-menu .navbar-header .btn {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid #47389A;
  padding: 4px 8px;
  margin-left: 8px; }

.main-menu .navbar-header .login-info span {
  display: inline-block; }

.main-menu .navbar-header .login-info .avatar {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 2px; }

.main-menu .navbar-header .login-info .avatar .feather {
  width: 16px;
  height: 16px; }

.main-menu .navbar-header .nav-toggle .nav-link {
  margin: 16px 0; }

.main-menu .navbar-header .nav-toggle .nav-link .feather {
  width: 26px;
  height: 26px; }

.main-menu .navigation li a svg {
  margin-right: 0.5rem; }

/* timeline */
.timeline .timeline-item {
  padding-left: 1.2rem; }

.timeline .timeline-item:not(:last-child) {
  padding-bottom: 5px; }

/* avatar + text */
.status-member .media-body {
  padding-left: 10px; }

.status-member .media-body .name {
  margin-bottom: 0;
  line-height: 1;
  color: #111;
  font-weight: 500; }

.status-member .media-body .dep {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  color: #999; }

/* avatar */
.realstatus-box .gowork {
  background-color: #0072E4; }

.realstatus-box .gowork::before {
  background-color: rgba(0, 114, 228, 0.12) !important; }

.realstatus-box .leavework {
  background-color: #C84EE5 !important; }

.realstatus-box .leavework::before {
  background-color: rgba(200, 78, 229, 0.12) !important; }

.realstatus-box .belate {
  background-color: #FC7600 !important; }

.realstatus-box .belate::before {
  background-color: rgba(252, 118, 0, 0.12) !important; }

.realstatus-box .absent {
  background-color: #EA5455 !important; }

.realstatus-box .absent::before {
  background-color: rgba(234, 84, 85, 0.12) !important; }

.realstatus-box .early {
  background-color: #FFCE2B !important; }

.realstatus-box .early::before {
  background-color: rgba(255, 206, 43, 0.12) !important; }

.realstatus-box .dayoff {
  background-color: #20C9F5 !important; }

.realstatus-box .dayoff::before {
  background-color: rgba(32, 201, 245, 0.12) !important; }

.realstatus-box .outside {
  background-color: #04CFAC !important; }

.realstatus-box .outside::before {
  background-color: rgba(4, 207, 172, 0.12) !important; }

.realstatus-box .return {
  background-color: #86C814 !important; }

.realstatus-box .return::before {
  background-color: rgba(134, 200, 20, 0.12) !important; }

.realstatus-box .status-name {
  color: #111;
  font-weight: 500;
  display: block; }

.realstatus-box .status-time {
  color: #999;
  display: block;
  font-size: 12px; }

/* chart  */
.apexcharts-legend-series {
  width: 40%; }

/* 공지사항 */
.ul-tbl-box {
  border-top: 2px solid #000; }

.ul-tbl-box .custom-checkbox + a {
  padding-left: 30px; }

.ul-tbl-box ul {
  padding: 0; }

.ul-tbl-box ul li {
  position: relative;
  list-style: none;
  padding: 18px 0 18px;
  border-bottom: 1px solid #ebebeb; }

.ul-tbl-box ul li .custom-checkbox {
  position: absolute;
  left: 0; }

.ul-tbl-box ul li a {
  display: inline-block;
  width: 100%; }

.ul-tbl-box ul li a .inner-box .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ul-tbl-box ul li a .inner-box.small {
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
  color: #777; }

.ul-tbl-box ul li a .inner-box.small .col.regi-date {
  text-align: right;
  padding-right: 34px; }

.ul-tbl-box ul li a .inner-box.line {
  position: relative; }

.ul-tbl-box ul li a .inner-box.line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 1px;
  background-color: #aaa; }

.ul-tbl-box ul li a .inner-box.line .regi-date {
  padding-top: 10px; }

.app-content {
  position: relative !important;
  margin-top: 0 !important; }

.app-content.main {
  padding-top: 260px !important; }

.app-content.sub {
  padding-top: 125px !important; }

.brand-name {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
  vertical-align: middle; }

.info-box {
  background: #7367F0;
  position: absolute;
  width: 100%;
  height: 240px;
  left: 0;
  top: 60px;
  color: #fff;
  padding: 1.5rem; }

.info-box .media .today-date {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  padding-right: 5px; }

.info-box .media .today-en {
  font-size: 11px;
  opacity: 0.8;
  padding-top: 3px;
  line-height: 1.2; }

.info-box .today-time {
  font-size: 40px;
  font-weight: bold; }

.info-box .inner-1 .btn {
  background: #142BC4;
  color: #fff; }

.info-box .inner-2 {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center; }

.info-box .inner-2 strong {
  font-weight: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6); }

.info-box .inner-2 p {
  font-size: 16px;
  font-weight: 700; }

.info-box .inner-2 p em {
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  padding-left: 2px;
  display: inline-block; }

.user-login {
  text-align: right;
  font-size: 12px; }

.user-login .media-body {
  padding-left: 5px; }

.noti-box {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -moz-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-left: auto !important; }

.noti-box i {
  color: #fff;
  font-size: 18px; }

.event-box {
  background: #37326D url(../images/common/bg-medal.png) no-repeat 96% 0;
  color: #fff;
  margin-bottom: 2rem; }

.event-box h2 {
  color: #fff; }

.event-box .status-member {
  margin-top: 1rem; }

.event-box .status-member .rank {
  font-size: 22px;
  font-weight: 700;
  margin-right: 6px;
  line-height: 1;
  padding-top: 6px;
  color: #999; }

.event-box .status-member .media-body .name {
  color: #fff; }

.event-box .status-member .media-body .dep {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal; }

.event-box .status-member:first-child {
  margin-top: 0; }

.event-box .status-member:first-child .rank {
  font-size: 30px;
  padding-top: 3px;
  color: #FFC107; }

.sub-tit {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #142BC4;
  width: 100%; }

.sub-tit h2 {
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0; }

.setting-box .row {
  margin-top: 1.5rem; }

.setting-box .row.row:first-child {
  margin-top: 0; }

.setting-box .col-5 {
  text-align: right; }

.setting-box .noti {
  margin-top: 5px; }

/* 로그인 */
.login h1 {
  text-align: center; }

.login h1 img {
  width: 90px; }

.login .auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px; }

.login .auth-inner {
  max-width: 400px; }
