@charset "UTF-8";
/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "score-medium";
  src: local("score medium"), url(../fonts/SCDream_Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/SCDream_Medium.woff2) format("woff2"), url(../fonts/SCDream_Medium.woff) format("woff"), url(../fonts/SCDream_Medium.ttf) format("truetype");
}
/* custom */
/* color */
.point-1 {
  color: #2c53b4;
}

.bg-1 {
  background: #e4f6f9;
}

.bg-2 {
  background: #fdf4f0;
}

.bg-3 {
  background: #ebebec;
}

.body-bg {
  background: #303440 url(../../app-assets/images/common/body-bg-1.png) no-repeat 60% 250px fixed;
}

.body-bg-1 {
  background: #303440;
}

.bullet-01:before {
  content: "";
  width: 7px;
  height: 18px;
  display: inline-block;
  background: #4275f4;
  margin-right: 10px;
}

.btn.disabled, .btn:disabled {
  background: #999 !important;
  color: #555 !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

img {
  max-width: 100%;
}

.app-content content {
  overflow: hidden;
}

.blur {
  opacity: 0.3;
}

.btn:disabled {
  opacity: 0.3;
}

.btn-sm {
  padding: 0.3rem;
}

.dark-layout .light-layout {
  color: #525252 !important;
}
.dark-layout .light-layout .h1, .dark-layout .light-layout .h2, .dark-layout .light-layout .h3, .dark-layout .light-layout .h4, .dark-layout .light-layout .h5, .dark-layout .light-layout .h6, .dark-layout .light-layout h1, .dark-layout .light-layout h2, .dark-layout .light-layout h3, .dark-layout .light-layout h4, .dark-layout .light-layout h5, .dark-layout .light-layout h6,
.dark-layout .light-layout .table td, .dark-layout .light-layout .table th,
.dark-layout .light-layout .table,
.dark-layout .light-layout label {
  color: #303030 !important;
  background-color: transparent;
}
.dark-layout .light-layout thead th {
  background-color: #eee !important;
}
.dark-layout .light-layout td, .dark-layout .light-layout th {
  border-color: #ccc !important;
}

.noti {
  position: relative;
  padding-left: 18px;
  color: #ea5455;
}
.noti::before {
  content: "※";
  position: absolute;
  top: 1px;
  left: 0;
}

.noti-muted {
  margin-top: 6px;
  margin-bottom: 6px;
}

.guide-ing {
  display: block;
  color: #ea5455;
  padding-bottom: 5px;
}

[class*=-box].middle, [class*=-box].top {
  margin-bottom: 1rem;
}

[class*=-box].middle, [class*=-box].bottom {
  margin-top: 1rem;
}

/* custom element */
.card {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.card .card-header {
  padding-top: 0.75rem;
}
.card .card-footer {
  padding: 0.75rem;
}
.card .card-body {
  padding: 1rem;
}

/* box */
[class*=-box].right {
  padding-left: 0;
  text-align: right;
}
[class*=-box].center {
  padding-left: 0;
  text-align: center;
}
[class*=-box].text-right .form-control,
[class*=-box].text-right .custom-select {
  text-align: right;
}
[class*=-box] .text-right .form-control,
[class*=-box] .text-right .custom-select {
  text-align: right;
}
[class*=-box].text-left .form-control,
[class*=-box].text-left .custom-select {
  text-align: left;
}
[class*=-box] .text-left .form-control,
[class*=-box] .text-left .custom-select {
  text-align: left;
}
[class*=-box].text-center .form-control,
[class*=-box].text-center .custom-select {
  text-align: center;
}
[class*=-box] .text-center .form-control,
[class*=-box] .text-center .custom-select {
  text-align: center;
}

.layout-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* common end =============== */
/* 접속 인증코드 인증 */
.mobile-connect {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: none;
  position: relative;
}
.mobile-connect.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile-connect .content-header {
  text-align: center;
}
.mobile-connect .content-header h1 {
  font-size: 3.4rem;
  font-weight: 900;
}
.mobile-connect .content-header .text-guide {
  font-size: 1.2rem;
  line-height: 1.5;
}
.mobile-connect .content-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-connect .content-body .row {
  margin: 0;
}
.mobile-connect .content-body .inner {
  -ms-flex-item-align: center;
      align-self: center;
}
.mobile-connect .content-body .col-auto {
  width: 10px;
  margin: 0;
  padding: 0 12px;
  text-align: center;
}
.mobile-connect .content-body .col-auto small {
  padding-top: 10px;
  display: inline-block;
}
.mobile-connect .content-body .col {
  margin: 0;
  padding: 0;
}
.mobile-connect .content-body .noti {
  margin-top: 20px;
  color: #FFC107;
}
.mobile-connect .content-body h6 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
.mobile-connect .content-body input {
  border-width: 2px;
  padding: 5px;
  text-align: center;
}
.mobile-connect .btn-box {
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.mobile-connect .btn-box .col {
  position: inherit;
}
.mobile-connect .btn-box .form-group {
  position: relative;
  padding-bottom: 30px;
}
.mobile-connect .btn-box .error {
  position: absolute;
  bottom: 0;
}
.mobile-connect .btn-box .btn {
  width: 100%;
}
.mobile-connect .btn-box .btn:nth-child(2) {
  margin-top: 20px;
}

/*  신분증 등록 */
.id-regist .content-header {
  background-color: #303440;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.id-regist .content-header h2 {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.id-regist .content-body {
  padding: 20px;
}