@charset "UTF-8";
/*================================================================================
	custom STYLESHEETS
	Version: 2.0
	Author: mk.sung
================================================================================
*/
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}
@font-face {
  font-family: "score-medium";
  src: local("score medium"), url(../fonts/SCDream_Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/SCDream_Medium.woff2) format("woff2"), url(../fonts/SCDream_Medium.woff) format("woff"), url(../fonts/SCDream_Medium.ttf) format("truetype");
}
/* custom */
/* color */
.point-1 {
  color: #2c53b4;
}

.bg-1 {
  background: #e4f6f9;
}

.bg-2 {
  background: #fdf4f0;
}

.bg-3 {
  background: #e0e6ed;
}

.body-bg {
  background: #161D31 url(../../app-assets/images/common/body-bg-1.png) no-repeat center center fixed;
}

.body-bg-1 {
  background: #161D31;
}

.bullet-01:before {
  content: "";
  width: 7px;
  height: 18px;
  display: inline-block;
  background: #4275f4;
  margin-right: 10px;
}

.btn.disabled, .btn:disabled {
  background: #999 !important;
  color: #555 !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

img {
  max-width: 100%;
}

.app-content content {
  overflow: hidden;
}

.blur {
  opacity: 0.3;
}

.btn:disabled {
  opacity: 0.3;
}

.dark-layout .light-layout {
  color: #525252 !important;
}
.dark-layout .light-layout .h1, .dark-layout .light-layout .h2, .dark-layout .light-layout .h3, .dark-layout .light-layout .h4, .dark-layout .light-layout .h5, .dark-layout .light-layout .h6, .dark-layout .light-layout h1, .dark-layout .light-layout h2, .dark-layout .light-layout h3, .dark-layout .light-layout h4, .dark-layout .light-layout h5, .dark-layout .light-layout h6,
.dark-layout .light-layout .table td, .dark-layout .light-layout .table th,
.dark-layout .light-layout .table,
.dark-layout .light-layout label {
  color: #303030 !important;
  background-color: transparent;
}
.dark-layout .light-layout thead th {
  background-color: #eee !important;
}
.dark-layout .light-layout td, .dark-layout .light-layout th {
  border-color: #ccc !important;
}

.noti {
  position: relative;
  padding-left: 18px;
  color: #ea5455;
}
.noti::before {
  content: "※";
  position: absolute;
  top: 1px;
  left: 0;
}

.guide-ing {
  display: block;
  color: #ea5455;
  padding-bottom: 5px;
}

[class*=-box].middle, [class*=-box].top {
  margin-bottom: 1rem;
}

[class*=-box].middle, [class*=-box].bottom {
  margin-top: 1rem;
}

.modal.eventDetail .history-list-wrap .status, .monitor-wrap .recently-event-wrap .content-right, .monitor-wrap .monitor-box .status {
  border-radius: 5px;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
  width: 60px;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .app-content, .vertical-layout.vertical-menu-modern.menu-collapsed .footer {
  margin-left: 60px;
}

.main-menu.menu-dark .navigation > li > a {
  margin: 0;
}

.main-menu .navbar-header {
  padding: 0.35rem 1rem 0.3rem 1rem;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
  width: calc(100vw - (100vw - 100%) - 4.4rem - 54px);
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .navbar-header .entrant-list-num,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .entrant-list .feather-more-horizontal,
.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu .entrant-list ul {
  display: none;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list ul {
  display: block;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu.expanded .entrant-list-num {
  display: inline;
}

.vertical-layout.vertical-menu-modern.menu-collapsed .main-menu:not(.expanded) .entrant-list .feather-more-horizontal {
  display: block;
  font-size: 1.285rem;
  width: 18px;
  height: 18px;
  margin-left: 1.5rem;
}

.menu-expanded .monitor-wrap .monitor-details {
  width: calc(100vw - 360px - 270px);
}

html .navbar-floating.footer-static .app-content .content-area-wrapper, html .navbar-floating.footer-static .app-content .kanban-wrapper {
  height: calc( 100vh - calc( calc(2rem * 1) + 4.45rem + 3.35rem + 1.3rem + 106px ));
  height: calc( var(--vh, 1vh) * 100 - calc( calc(2rem * 1) + 4.45rem + 3.35rem + 1.3rem + 106px));
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  z-index: 9999;
}

.light-layout .content-area-wrapper {
  background-color: #fff;
}

.dark-layout .monitor-details {
  background-color: #161D31;
}
.dark-layout .content-area-wrapper {
  background-color: rgba(255, 255, 255, 0.07);
}

/* custom element */
.card .card-header {
  padding-top: 0.75rem;
}
.card .card-footer {
  padding: 0.75rem;
}
.card .card-body {
  padding: 1rem;
}

/* common */
[class*=-box].right {
  padding-left: 0;
  text-align: right;
}
[class*=-box].center {
  padding-left: 0;
  text-align: center;
}
[class*=-box].text-right .form-control,
[class*=-box].text-right .custom-select {
  text-align: right;
}
[class*=-box] .text-right .form-control,
[class*=-box] .text-right .custom-select {
  text-align: right;
}
[class*=-box].text-left .form-control,
[class*=-box].text-left .custom-select {
  text-align: left;
}
[class*=-box] .text-left .form-control,
[class*=-box] .text-left .custom-select {
  text-align: left;
}
[class*=-box].text-center .form-control,
[class*=-box].text-center .custom-select {
  text-align: center;
}
[class*=-box] .text-center .form-control,
[class*=-box] .text-center .custom-select {
  text-align: center;
}

.layout-width {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* common end =============== */
/* 왼쪽메뉴 응시생목록 */
.entrant-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: inherit;
}

.entrant-list li {
  padding: 1rem;
}
.entrant-list li .user-info {
  white-space: nowrap;
}
.entrant-list li .user-info .cnct.cnct-ing {
  background: rgba(40, 199, 111, 0.12) !important;
  color: #28c76f !important;
}
.entrant-list li .user-info .cnct.cnct-end {
  background: rgba(234, 84, 85, 0.12) !important;
  color: #ea5455 !important;
}
.entrant-list li .user-info .cnct.cnct-submitted {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #b8b8b8;
}
.entrant-list li .user-info .cnct.cnct-before {
  background: rgba(97, 97, 97, 0.12) !important;
  color: #28c76f !important;
}
.entrant-list li .email {
  white-space: nowrap;
}
.entrant-list li .user-status {
  margin-top: 0.5rem;
  white-space: nowrap;
}
.entrant-list li .user-status .user-check {
  background-color: #ea5455;
  color: #fff;
}
.entrant-list li .user-status .user-check.active {
  background-color: #0d73ff;
}
.entrant-list li .user-status .user-video {
  background-color: #ea5455;
  color: #fff;
}
.entrant-list li .user-status .user-video.active {
  background-color: #0d73ff;
}
.entrant-list .btn-sm {
  padding: 0.3rem;
}

/* monitoring box */
.monitor-wrap {
  height: 100%;
  margin: 0;
  position: relative;
}
.monitor-wrap .monitor-box .status {
  font-weight: normal;
  font-size: 0.857rem;
  opacity: 0.3;
  border: 1px solid #0d73ff;
  color: #aaa;
  background-color: #063679;
}
.monitor-wrap .monitor-box .status.active {
  opacity: 1;
  color: #fff;
}
.monitor-wrap .monitor-box .status.verifi {
  border: 1px solid #0d73ff;
  background-color: #0d73ff;
}
.monitor-wrap .monitor-box .status.chat {
  border: 1px solid #28c76f;
  color: #28c76f;
  opacity: 1;
  background-color: transparent;
}
.monitor-wrap .monitor-box .status.badge {
  border-radius: 0.1rem;
  padding: 0.3rem;
}
.monitor-wrap .monitor-list {
  position: relative;
  padding: 1rem;
  float: left;
  height: 100%;
  width: 100%;
}
.monitor-wrap .monitor-list > .row > .col-auto {
  padding: 0 0 0 1rem;
}
.monitor-wrap .monitor-list .monitor-box {
  width: 365px;
  border: 1px solid rgba(116, 116, 116, 0.5);
  margin-bottom: 0.75rem;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .img-box {
  height: 100%;
  border: 1px solid rgba(116, 116, 116, 0.5);
  position: relative;
  background-color: rgba(116, 116, 116, 0.12);
}
.monitor-wrap .monitor-list .monitor-box .img-inner .img-box::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(116, 116, 116, 0.2);
  z-index: 1;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .img-box img {
  z-index: 2;
  position: relative;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-01 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding-right: 0.5rem;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-01 .img-box {
  overflow: hidden;
  height: 167px;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-01 .img-box::before {
  content: "";
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-02 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-02 .img-box {
  overflow: hidden;
  height: 80px;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-02 .img-box:nth-child(1)::before {
  content: "";
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-02 .img-box:nth-child(2) {
  margin-top: 0.5rem;
}
.monitor-wrap .monitor-list .monitor-box .img-inner .col-02 .img-box:nth-child(2)::before {
  content: "";
}
.monitor-wrap .monitor-list .monitor-box .card-header {
  padding: 0.35rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.07);
}
.monitor-wrap .monitor-list .monitor-box .card-body {
  padding: 0.75rem;
  cursor: pointer;
}
.monitor-wrap .monitor-list .monitor-box h3 {
  font-size: 1rem;
}
.monitor-wrap .monitor-list .monitor-box .inner-info {
  padding: 0 0.5rem 0.75rem;
  font-size: 0.8rem;
}
.monitor-wrap .monitor-list .monitor-box .inner-info p {
  margin: 0;
  line-height: 1;
}
.monitor-wrap .monitor-list .monitor-box .inner-info p:nth-child(2) {
  margin-top: 0.3rem;
}
.monitor-wrap .monitor-list .monitor-box .inner-info .col-auto, .monitor-wrap .monitor-list .monitor-box .inner-info .col {
  padding: 0 0.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}
.monitor-wrap .monitor-list .monitor-box .inner-info .sound-meter-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  line-height: 0;
}
.monitor-wrap .monitor-list .monitor-box .inner-info .sound-meter-box canvas {
  background-color: rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 10px;
  border-radius: 1rem;
  vertical-align: middle;
}
.monitor-wrap .monitor-list .monitor-box.active {
  border: 1px solid #0d73ff;
}
.monitor-wrap .monitor-list .monitor-box.active .card-header {
  background-color: #0d73ff;
  color: #fff;
}
.monitor-wrap .monitor-list .monitor-box.active .card-header .btn, .monitor-wrap .monitor-list .monitor-box.active .card-header h3 {
  color: #fff;
}
.monitor-wrap .monitor-details {
  position: absolute;
  display: block;
  z-index: 2;
  visibility: hidden;
  top: 0;
  width: calc(100vw - 419px);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.25s ease, color 0s;
  transition: all 0.25s ease, color 0s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 999;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.monitor-wrap .monitor-details.show {
  visibility: visible;
  -webkit-transition: all 0.25s ease, color 0s;
  transition: all 0.25s ease, color 0s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.monitor-wrap .monitor-details .monitor-detail-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 6px rgba(34, 41, 47, 0.04);
          box-shadow: 0 4px 6px rgba(34, 41, 47, 0.04);
  border-bottom: 1px solid rgba(116, 116, 116, 0.5);
  position: relative;
  padding: 0.5rem 1rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.07);
}
.monitor-wrap .monitor-details .monitor-detail-header .monitor-header-left i {
  font-size: 1rem;
}
.monitor-wrap .monitor-details .monitor-detail-header .monitor-header-left .arrow-text {
  margin-left: 5px;
}
.monitor-wrap .monitor-details .monitor-detail-header .monitor-header-left h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 15px;
}
@-webkit-keyframes bounceAlpha {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(10px) scale(0.9);
            transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translateX(-10px) scale(0.9);
            transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(10px) scale(0.9);
            transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    -webkit-transform: translateX(-10px) scale(0.9);
            transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}
.monitor-wrap .monitor-details .monitor-detail-header .go-back .arrow {
  -webkit-animation-name: bounceAlpha;
          animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  display: inline-block;
}
.monitor-wrap .monitor-details .monitor-detail-header .go-back .last {
  margin-left: -8px;
}
.monitor-wrap .monitor-details .monitor-detail-header .go-back .arrow.first {
  -webkit-animation-name: bounceAlpha;
          animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.monitor-wrap .monitor-details .monitor-detail-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left {
  height: 100%;
  float: left;
  max-width: calc(100% - 380px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 0.75rem;
  margin: 20px auto;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .img-box {
  height: 100%;
  border: 1px solid rgba(116, 116, 116, 0.5);
  position: relative;
  background-color: rgba(116, 116, 116, 0.12);
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .img-box::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(116, 116, 116, 0.2);
  z-index: 1;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .img-box img {
  position: relative;
  z-index: 2;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-01 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
  padding-right: 0.5rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-01 .img-box {
  overflow: hidden;
  height: 467px;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-01 .img-box::before {
  content: "";
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-02 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-02 .img-box {
  overflow: hidden;
  height: 230px;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-02 .img-box:nth-child(1)::before {
  content: "";
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-02 .img-box:nth-child(2) {
  margin-top: 0.5rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .img-inner .col-02 .img-box:nth-child(2)::before {
  content: "";
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .card-header {
  padding: 0.35rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.07);
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .card-body {
  padding: 1rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .card-footer {
  padding: 1rem 1.5rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box h3 {
  font-size: 1rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info {
  padding: 1rem;
  font-size: 1rem;
  margin: 0;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info p {
  margin: 0;
  line-height: 1;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info p:nth-child(2) {
  margin-top: 0.75rem;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info .col-auto, .monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info .col {
  padding: 0 0.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info .sound-meter-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  line-height: 0;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box .inner-info .sound-meter-box canvas {
  background-color: rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 10px;
  border-radius: 1rem;
  vertical-align: middle;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box.active .card-header {
  background-color: #0d73ff;
  color: #fff;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box.active .card-header .btn, .monitor-wrap .monitor-details .monitor-detail-body .content-left .monitor-box.active .card-header h3 {
  color: #fff;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .event-history-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .event-history-box .card-header {
  padding: 1rem;
  background: rgba(116, 116, 116, 0.12);
}
.monitor-wrap .monitor-details .monitor-detail-body .content-left .event-history-box .card {
  max-width: 1000px;
  margin: 0 auto;
}
.monitor-wrap .monitor-details .monitor-detail-body .content-right {
  width: 360px !important;
  height: 100%;
  float: right;
  border-left: 1px solid #ccc;
}
.monitor-wrap .monitor-details .go-back {
  cursor: pointer;
}
.monitor-wrap .recently-event-wrap {
  position: relative;
  height: 100%;
  max-width: 300px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  float: right;
  padding: 1rem;
  background-color: rgba(116, 116, 116, 0.5);
  z-index: 999;
  /* chat */
}
.monitor-wrap .recently-event-wrap .inner-tit {
  padding: 0.5rem 0;
  font-weight: 700;
}
.monitor-wrap .recently-event-wrap .recently-event-box .check-box {
  padding: 0.5rem 0.5rem 0;
  margin-bottom: 1rem;
}
.monitor-wrap .recently-event-wrap .recently-event-box .check-box .card-body {
  padding: 0.5rem;
}
.monitor-wrap .recently-event-wrap .recently-list-box {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
}
.monitor-wrap .recently-event-wrap .recently-list-box .recently-list {
  width: 100%;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status {
  padding: 0;
  font-size: 0.857rem;
  vertical-align: middle;
  border-radius: 0;
  margin: 0;
  border-width: 1px 0 0 0;
  background: #fff !important;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status .col {
  padding: 2px 5px;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status .col-auto {
  width: 94px;
  padding: 2px 5px 2px 12px;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status a {
  color: rgba(255, 255, 255, 0.2);
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status a .text-lv {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  min-width: 26px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 14px;
  height: 14px;
  margin-top: 4px;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status .text-code {
  text-align: right;
  vertical-align: middle;
  padding-right: 12px;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active {
  opacity: 1;
  border-width: 1px 0 0 0;
  margin: 0;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active a {
  color: #fff;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active a .text-lv {
  color: #fff;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-multi a {
  background-color: #ea5455;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-fail a {
  background-color: #063679;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-leaving a {
  background-color: #ffc107;
  color: #111;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-leaving2 a {
  background-color: #ff9f43;
  color: #111;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-danger2 a {
  background-color: #ad3939;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-end a {
  background-color: rgba(22, 29, 49, 0.8);
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-autoOut a {
  background-color: #000;
}
.monitor-wrap .recently-event-wrap .recently-list-box .status.active.status-loginN a {
  background-color: #ad3939;
}
.monitor-wrap .recently-event-wrap .content-right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  position: relative;
  min-height: 200px;
  max-height: 300px;
  width: 100%;
  float: none;
  margin-top: 1rem;
  overflow: hidden;
}
.monitor-wrap .recently-event-wrap .content-right .user-chats-all {
  height: calc(100% - 40px - 50px);
}
.monitor-wrap .recently-event-wrap .content-right .chat-header {
  height: 40px;
}
.monitor-wrap .recently-event-wrap .content-right .chat-app-form {
  height: 50px;
}
.monitor-wrap .btn-box .btn-sm {
  padding: 0.35rem 0.4rem 0.3rem;
  font-size: 0.75rem;
  font-weight: normal;
  border-radius: 2px;
}

/* modal */
.modal {
  /* 상태이상 감시  */
}
.modal .guide-entrant .list-group li {
  position: relative;
  padding-left: 1.2rem;
}
.modal .guide-entrant .list-group li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #0d73ff;
  position: absolute;
  top: 20px;
  left: 0.5rem;
}
.modal .guide-entrant .guide-imgbox {
  margin: 1rem auto;
  width: 500px;
}
.modal .guide-entrant .guide-imgbox .inner-img:last-child {
  height: 150px;
  overflow: hidden;
  border-radius: 1rem;
}
.modal.eventDetail .modal-body {
  padding-top: 2rem;
}
.modal.eventDetail .dtl-info {
  padding-left: 0;
}
.modal.eventDetail .dtl-info li {
  list-style: none;
  position: relative;
  padding-left: 10px;
}
.modal.eventDetail .dtl-info li::before {
  width: 3px;
  height: 3px;
  display: block;
  content: "";
  background-color: #555;
  position: absolute;
  top: 8px;
  left: 0;
}
.modal.eventDetail .dtl-info li.text-danger::before {
  background-color: #ea5455;
}
.modal.eventDetail .exam-photo-compare {
  padding: 1rem;
}
.modal.eventDetail .exam-photo-compare .col {
  background: rgba(116, 116, 116, 0.2);
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid rgba(116, 116, 116, 0.5);
}
.modal.eventDetail .exam-photo-compare .col .end {
  background: #555;
  border: 1px solid #222;
  color: #ddd;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 18px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 0.75rem;
}
.modal.eventDetail .exam-photo-compare .col img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal.eventDetail .exam-photo-compare .col:last-child {
  margin-left: 4px;
}
.modal.eventDetail .exam-photo-compare .col::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(116, 116, 116, 0.2);
}
.modal.eventDetail .history-list-wrap {
  height: 520px;
  width: 300px;
  position: relative;
}
.modal.eventDetail .history-list-wrap h6 {
  margin-bottom: 1rem;
}
.modal.eventDetail .history-list-wrap .history-list a {
  padding: 0.5rem;
}
.modal.eventDetail .history-list-wrap .history-list a .row {
  margin: 0;
}
.modal.eventDetail .history-list-wrap .history-list a .col {
  padding: 0 0.5rem;
}
.modal.eventDetail .history-list-wrap .list-group-item.active, .modal.eventDetail .history-list-wrap .list-group-item.active:hover, .modal.eventDetail .history-list-wrap .list-group-item.active:focus {
  border-color: #e8eff5;
  background-color: #e8eff5;
  color: #000;
}
.modal.eventDetail .history-list-wrap .status {
  font-weight: normal;
  font-size: 0.857rem;
  color: #111;
  opacity: 1;
  background-color: transparent;
  border: none;
  width: 44px;
}
.modal.eventDetail .history-list-wrap .status.badge {
  border-radius: 0.1rem;
  padding: 0.3rem;
}
.modal.eventDetail .history-list-wrap .status.leaving {
  background-color: #FFC107;
  color: #111;
}
.modal.eventDetail .history-list-wrap .status.leaving2 {
  background-color: #FF9F43;
  color: #111;
}
.modal.eventDetail .history-list-wrap .status.multi {
  background-color: #ea5455;
  color: #fff;
}
.modal.eventDetail .history-list-wrap .status.normal {
  background-color: #0d73ff;
  color: #fff;
}
.modal.eventDetail .history-list-wrap .status.fail {
  background-color: #ea5455;
  color: #fff;
}
.light-layout .content-area-wrapper {
  background: rgba(13, 115, 255, 0.05);
}
.light-layout .monitor-wrap .recently-event-wrap {
  background-color: rgba(13, 115, 255, 0.1);
}
.light-layout .monitor-wrap .recently-event-wrap .recently-list-box .status {
  border-color: rgba(13, 115, 255, 0.1);
}
.light-layout .monitor-wrap .recently-event-wrap .recently-list-box .status a {
  background: #7699ca;
}
.light-layout .monitor-wrap .recently-event-wrap .recently-list-box .status a .text-lv {
  background: rgba(255, 255, 255, 0.2);
}
.light-layout .monitor-wrap .recently-event-wrap .recently-list-box .status.active .text-lv {
  background: rgba(0, 0, 0, 0.6);
}

.dark-layout .monitor-wrap .recently-event-wrap {
  background: #161D31;
}
.dark-layout .recently-list-box .status {
  border-color: #161D31 !important;
}
.dark-layout .recently-list-box .status a {
  background: #616161;
}